<section class="container">
  <h1>Create Events</h1>
  <form method="POST" action="/events/create">
    <div><label>Name</label><input type="text" name="name"/></div>
    <label>Eras</label>
      <div><input type="radio" name="era" value="Contemporary History">Contemporary History</div>
      <div><input type="radio" name="era" value="Late Modern Period">Late Modern Period</div>
      <div><input type="radio" name="era" value="Early Modern Period">Early Modern Period</div>
      <div><input type="radio" name="era" value="Middle Ages">Middle Ages</div>
      <div><input type="radio" name="era" value="Classical Era">Classical Era</div>
      <div><input type="radio" name="era" value="Prehistory">Prehistory</div>
    <div><label>Date</label><input type="date" name="date"/></div>
    <div><textarea name="description" rows="10" cols="40" placeholder="Your description..."></textarea></div>
    <div><label>URL Photo</label><input type="url" name="picture"/></div>
    <button class="button button-margin" type="submit">Create</button>
  </form>
</section>


