<section class="container">
<h1>Create Events</h1>
<%-  include ../partials/notifications %>
<div class="signup3-favorite-eras">
  <form method="POST" action="/events/create">
    <div class="field">
      <label>Name</label>
      <input class="input" type="text" name="name" placeholder="name"/>
    </div>
        <label>Eras</label>
          <div class="radio-button"><input type="radio" name="era" value="Contemporary History">Contemporary History</div>
          <div class="radio-button"><input type="radio" name="era" value="Late Modern Period">Late Modern Period</div>
          <div class="radio-button"><input type="radio" name="era" value="Early Modern Period">Early Modern Period</div>
          <div class="radio-button"><input type="radio" name="era" value="Middle Ages">Middle Ages</div>
          <div class="radio-button"><input type="radio" name="era" value="Classical Era">Classical Era</div>
          <div class="radio-button"><input type="radio" name="era" value="Prehistory">Prehistory</div>
      </div>
      <div class="field">
        <label>Date</label>
        <input class="input" type="date" name="date"/>
      </div>
      <div><textarea class="textarea" name="description" rows="5" cols="32" placeholder="Your description..."></textarea></div>
      <div class="field">
        <label>URL Photo</label>
        <input class="input" type="url" name="picture"/>
      </div>
      <button class="button button-margin" type="submit">Create</button>
  </form>
</section>


