<h1>Delete Event</h1>
<h3><%= event.name %></h3>
<p>Si pulsas el siguiente enlace, el evento quedará eliminado.</p>
<form method="POST" action="/events/<%=event._id %>/delete"><button>Delete</button></form> 
</form> 