<section class="container">
<h1> Ready to explore the<br /> Past from the Future! </h1>
<%-  include ../partials/notifications %>

<a href="events/explore"><button class="button button-margin">Explore</button></a>
<a href="user/profile/events"><button class="button button-margin">Your Events</button></a>
<a href="events/create"><button class="button button-margin">Create</button></a>
</section>



