<section class="container signup-login">
  <h1>Log in</h1>

  <form method="POST" action="/auth/login">

    <div class="field" >
      <label>Username</label>
      <input class="input" type="text" name="username" placeholder="Username"/>
    </div>

    <div class="field" >
      <label>Password</label>
      <input class="input" type="password" name="password" placeholder="Password"/>
    </div>

    <div class="field submit">
      <button class="button form-button" type="submit">Save</button>
    </div>
  </form>

  <%-  include ../partials/notifications %>
  </section>

