<div class="container"> 
  <h3><%= item.name %></h3>
  <img class="event-image" src="<%= item.picture %>" alt="">
  <p><%= item.description %></p> 
  <a href="/events/<%= item._id%>">See more</a>
</div>