<div class="container events"> 
  <img class="event-image" src="<%= item.picture %>" alt="">
  <h3><%= item.name %></h3>
  <p><%= item.description %></p> 
  <a href="/events/<%= item._id%>">See more</a>
</div>