
<div class="nav-bar">
  <img class="icons-nav-bar" src="../images/home.svg" alt="Home Icon" srcset="">
  <img class="icons-nav-bar" src="../images/list.svg" alt="Your Events Icon" srcset="">
  <form action="/logout" method="POST"><a href="/"><img class="icons-nav-bar" src="../images/logout.svg" alt="Log out Icon" srcset=""></form></a>
</div>