
<div class="nav-bar">
  <a href="/events"><img class="icons-nav-bar" src="../../images/home.svg" alt="Home Icon"></a>
  <a href="/user/profile/events"><img class="icons-nav-bar" src="../../images/list.svg" alt="Your Events Icon"></a>
  <form action="/auth/logout" method="POST">
    <button class="logout-button" type="submit"><img class="icons-nav-bar" src="../../images/logout.svg" alt="Log out Icon"></button>
  </form>
</div>