
<div class="nav-bar">
  <img class="icons-nav-bar" src="../images/home.svg" alt="Home Icon" srcset="">
  <img class="icons-nav-bar" src="../images/list.svg" alt="Your Events Icon" srcset="">
  <img class="icons-nav-bar" src="../images/logout.svg" alt="Log out Icon" srcset="">
</div>