<section class='404-page'>
  <h3>It seems that you got lost in Space and Time!</h3>
  <h3>You are at our 404, this page doesn't really exist!</h3>

  <img class ='404-image' src='/images/404-image.jpg' alt='Lost in Space and Time'>

  <a href="/events">Get back to Home!</a>
</section>
