<section class='fourcerofour-page container'>
  <h3>It seems that you got lost in Space and Time!</h3>
  <img class ='fourcerofour-image' src='/images/404-image.jpg' alt='Lost in Space and Time'>
  <h3>You are at our 404, this page doesn't really exist!</h3>
  <p>Get back to...<p>

  <a class="fourcerofour-button button" href="/events">Home!</a>
</section>
