<section class="container signup-login">
<p class>Welcome to TimeTravel : Your best App to join TimeTravels!</p>
<a href="auth/signup"><button class="button button-margin">Sign up</button></a>
<a href="auth/login"><button class="button button-margin">Log in</button></a>

</section>






