<!DOCTYPE html>
<html>
  <head>
    <title>TimeTravel</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Time Travel</h1>
    <p>Welcome to TimeTravel : Your best App to join TimeTravels!</p>
    <a href="auth/signup"><button>Sign up</button></a>
    <a href="auth/login"><button>Log in</button></a>
  </body>
</html>

