
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

body {
  color: #172847;
  font-size: 16px;
  font-family: 'Chakra Petch', sans-serif;
  line-height: 147%;
  background: linear-gradient(rgb(139, 139, 139), #FEFEFE) no-repeat;
  /*background: url("../images/1467.jpg") no-repeat center center fixed cover;*/

}

h1, h2, h3 {
  text-align: center;
  /*padding-bottom: 25px; */
}

p {
  margin: 0;
  text-align: justify;
}



/* ---- layout ---- */

#site-header {
  padding: 30px 0;
  color: white;
  background: #111;
}

#site-footer {
  color: white;
  padding: 60px 0;
  background: #111;
}

#site-main {
  margin-bottom: 60px;
}

.container {
  height: 100%;
  margin: 0 20px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}




/* ---- components ---- */

.button {
  padding: 10px 30px; 
  margin: 50px;
  width: 200px;
  background-color: #172847;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  font-family: 'Chakra Petch', sans-serif;
  align-self: center;
  display: flex;
  justify-content: center;
}

.button-alt {
  color: #172847;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.input {
  font-family:  'Chakra Petch', sans-serif;
}
.icons-nav-bar {
  width: 50px;
}
.nav-bar {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 10px 10px;
  justify-content: space-between;
  align-items: center;
  background: #172847;

}

.logout-button {
  background: #172847;
  border: 0;
}

.field {
  padding: 10px 10px;
}
.field.submit{
  padding: 25px;
}