
/* ---- reset ---- */

html {
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  /*height: 100%;*/
  color: #172847;
  font-size: 20px;
  font-family: 'Chakra Petch', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(#FEFEFE,rgb(182, 181, 181)) no-repeat fixed;
}


/* ---- typography ---- */


h1, h2, h3 {
  text-align: center;
  text-shadow: 3px 1px 7px #17284767;
}

p {
  margin: 0;
  text-align: justify;
}

@font-face {
  font-family: 'Anurati-Regular';
  src: url('/fonts/Anurati-Regular.otf');
}

h1.logo-font {
  font-family: 'Anurati-Regular';
  text-transform: uppercase;
  font-size: 1.2em;
}

a {
  color: #172847;
}

/* ---- layout ---- */

#site-header {
  padding: 30px 0;
  color: white;
  background: #111;
}

#site-footer {
  color: white;
  padding: 60px 0;
  background: #111;
}

#site-main {
  margin-bottom: 60px;
}

.container {
  height: 90%;
  padding-top: 18%;
  margin: 0 auto 18%;
  width:99%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}




/* ---- components ---- */

.button {
  padding: 10px 30px; 
  width: 200px;
  background-color: #172847;
  color: #fff;
  border: 2px solid yellow;
  border-radius: 10px;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 18px;
  align-self: center;
  display: flex;
  justify-content: center;
  box-shadow: 0 5px 7px -1px #17284767;
  text-decoration: none;
}
.button-margin {
  margin: 30px;

}
.button-alt {
  color: #172847;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.input {
  font-family:  'Chakra Petch', sans-serif;
}
.icons-nav-bar {
  width: 30px;
}
.nav-bar {
  box-shadow: #17284767;
  display: flex;
  flex-flow: row wrap;
  padding: 10px 10px;
  justify-content: space-around;
  align-items: center;
  background: #172847;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  border-top: 2px solid yellow;
}

.logout-button {
  background: #172847;
  border: 0;
}

.field {
  padding: 10px 10px;
}
.field.submit{
  padding: 25px;
}



/* Class de Raúl */
.event-image {
  width: 95%;
  border: 3px solid rgb(233, 233, 114);
  display: flex;
  align-items: center;
}

.events {
  background-color: #17284718;
  border-radius: 10px;
  margin: 10px auto;
  padding: 10px 10px;
}

/* Logo */
.img-logo{
  width: 75px;
}

.logo {
  margin: 0 0;
  position: fixed;
  width: 100%;
  box-shadow: 0 2px 7px -1px #17284767;
  height: 9%;
  margin-bottom: 3px;
  padding-bottom: 5px;
  text-align: center;
  background-color: #fcfcfc;
}

/* Exploring Events */ 
  /* Partial View : Event pre-detail */
.link-event-detail {
  text-decoration: none;
}

/* 404 */ 
.fourcerofour-page {
  padding-top: 25%;
  width:90%;
  margin:0 auto;
}

.fourcerofour-page h3 {
  font-size: 1em;
}

.fourcerofour-image {
  width:340px;
  border: 4px solid yellow;
}

section.fourcerofour-page p {
  padding-bottom: 5px;
  font-weight: 550;
}