
/* ---- reset ---- */

html {
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  /*height: 100%;*/
  color: #172847;
  font-size: 20px;
  font-family: 'Chakra Petch', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(#FEFEFE,rgb(182, 181, 181)) no-repeat fixed;
}


/* ---- typography ---- */


h1, h2, h3 {
  text-align: center;
  text-shadow: 3px 1px 7px #17284767;
}

p {
  margin: 0;
  text-align: justify;
}

@font-face {
  font-family: 'Anurati-Regular';
  src: url('/fonts/Anurati-Regular.otf');
}

h1.logo-font {
  font-family: 'Anurati-Regular';
  text-transform: uppercase;
  font-size: 50px;
}




/* ---- layout ---- */

#site-header {
  padding: 30px 0;
  color: white;
  background: #111;
}

#site-footer {
  color: white;
  padding: 60px 0;
  background: #111;
}

#site-main {
  margin-bottom: 60px;
}

.container {
  height: 90%;
  padding: 2px 0;
  margin: 0 2px;
  margin-bottom: 85px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  /*position: relative;*/
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}




/* ---- components ---- */

.button {
  padding: 10px 30px; 
  width: 200px;
  background-color: #172847;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 20px;
  align-self: center;
  display: flex;
  justify-content: center;
  box-shadow: 0 10px 7px -1px #17284767;
}
.button-margin {
  margin: 30px;

}
.button-alt {
  color: #172847;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.input {
  font-family:  'Chakra Petch', sans-serif;
}
.icons-nav-bar {
  width: 30px;
}
.nav-bar {
  box-shadow: #17284767;
  display: flex;
  flex-flow: row wrap;
  padding: 10px 10px;
  justify-content: space-around;
  align-items: center;
  background: #172847;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
}

.logout-button {
  background: #172847;
  border: 0;
}

.field {
  padding: 10px 10px;
}
.field.submit{
  padding: 25px;
}



/* Class de Raúl */
.event-image {
  width: 300px;
  border: 5px solid #172847;
  display: flex;
  align-items: center;
}

.events {
  background-color: #17284718;
  border-radius: 10px;
  margin: 10px 2px;
  padding: 10px 10px;
}

/* Logo */
.img-logo{
  width: 75px;
}