<section class="container">
  <h1>Edit Profile</h1>
  <%-  include ../../partials/notifications %>
  <div class="signup3-favorite-eras">
  <form action="/user/me/edit" method="post">
    <h4>Eras</h4>
      <% if (user.preferences === 'Contemporary History') { %> 
        <div><input type="checkbox" name="preferences" value="Contemporary History'" checked>Contemporary History</div>
      <% } else { %> 
        <div><input type="checkbox" name="preferences" value="Contemporary History">Contemporary History</div>
      <% } %> 
      <% if (user.preferences === 'Late Modern Period') { %> 
        <div><input type="checkbox" name="preferences" value="Late Modern Period" checked>Late Modern Period</div>
      <% } else { %> 
        <div><input type="checkbox" name="preferences" value="Late Modern Period">Late Modern Period</div>
      <% } %> 
      <% if (user.preferences === 'Early Modern Period') { %> 
        <div><input type="checkbox" name="preferences" value="Early Modern Period" checked>Early Modern Period</div>
      <% } else { %> 
        <div><input type="checkbox" name="preferences" value="Early Modern Period">Early Modern Period</div>
      <% } %> 
      <% if (user.preferences === 'Middle Ages') { %> 
        <div><input type="checkbox" name="preferences" value="Middle Ages" checked>Middle Ages</div>
      <% } else { %> 
        <div><input type="checkbox" name="preferences" value="Middle Ages">Middle Ages</div>
      <% } %> 
      <% if (user.preferences === 'Classical Era') { %> 
        <div><input type="checkbox" name="preferences" value="Classical Era" checked>Classical Era</div>
      <% } else { %> 
        <div><input type="checkbox" name="preferences" value="Classical Era">Classical Era</div>
      <% } %> 
      <% if (user.preferences === 'Prehistory') { %> 
        <div><input type="checkbox" name="preferences" value="Prehistory" checked>Prehistory</div>
      <% } else { %> 
        <div><input type="checkbox" name="preferences" value="Prehistory">Prehistory</div>
      <% } %> 
      </div>
      <% if (user.description){ %>
        <h4>Description</h4>
        <div class="field">
          <textarea class="textarea" name="description" value="<%= user.description %>"rows="5" cols="32"><%= user.description %></textarea>
        </div>
      <% } %>
        <button class="button button-margin" type="submit" value="send">Submit Changes</button>
    </form>
</section>
