<section class="container">
  <h1>Edit Profile</h1>
  <form action="/user/me/edit" method="post">
  <% if (user.description){ %>
  <div><label>Description</label><textarea name="description" value="<%= user.description %>"rows="10" cols="50"><%= user.description %></textarea></div>
  <% } %>
  <% if (user.preferences === '60s') { %> 
  <div><input type="radio" name="era" value="60s" checked>60s</div>
  <% } else { %> 
  <div><input type="radio" name="era" value="60s">60s</div>
  <% } %> 
  <% if (user.preferences === '70s') { %> 
  <div><input type="radio" name="era" value="70s" checked>70s</div>
  <% } else { %> 
  <div><input type="radio" name="era" value="70s">70s</div>
  <% } %> 
  <% if (user.preferences === '80s') { %> 
  <div><input type="radio" name="era" value="80s" checked>80s</div>
  <% } else { %> 
  <div><input type="radio" name="era" value="80s">80s</div>
  <% } %> 
  <% if (user.preferences === 'medieval') { %> 
  <div><input type="radio" name="era" value="medieval" checked>medieval</div>
  <% } else { %> 
  <div><input type="radio" name="era" value="medieval">medieval</div>
  <% } %> 
  <% if (user.preferences === 'prehistoric') { %> 
  <div><input type="radio" name="era" value="prehistoric" checked>prehistoric</div>
  <% } else { %> 
  <div><input type="radio" name="era" value="prehistoric">prehistoric</div>
  <% } %> 
  <button type="submit" value="send">Submit Changes</button>
  </form>
</section>
