<h1>This is the profile third screen</h1>
<p>To add description and email</p>
<p>Username = <%= currentUser.username %></p>

<form method="POST" action="/user/profile">

  <div class="field" >
    <label>Description</label>
    <textarea name="textarea" rows="10" cols="50">Write something here</textarea>  
  </div>
  <div class="field" >
    <label>email</label>
    <input type="email" name="email"/>
  </div>

  <div class="field submit">
    <button type="submit">Save</button>
  </div>
</form>