<section class="container">
  <h1>Welcome <%= currentUser.username %>!</h1>
  <%-  include ../../partials/notifications %>

  <form method="POST" action="/user/profile">

    <div class="field">
      <label>Description</label>
      <textarea class='textarea' name="description" rows="5" cols="32" placeholder="Tell us something about yourself..."></textarea>  
    </div>
    
    <div class="field">
      <label>email</label>
      <input class="input" type="email" name="email" placeholder="email" />
    </div>

    <div class="field submit">
      <button class="form-button button" type="submit">Save</button>
    </div>
  </form>
</section>

