<section class="container">
  <%-  include ../../partials/notifications %>
  <h1>Your events</h1>
    <% event.forEach((item) => { %>
    <%- include ../../partials/event.ejs %>
    <% }) %>
</section>



